*{
    margin: auto;
    padding:0;
    box-sizing: border-box;
}
input{
    background-color:#ddddda;
    color: #4a707a;
    margin: 20px;
    padding: 0 5px;
    height: 30px;
    border: white;
    font-weight: bold;
    /* border-radius: 5px; */
}
#task,#des,#Addtask{
    /* width: 72.6em; */
    margin: 0 ;
    height: 50px;
    outline: none;
    font-size: 15px;
    width: 67em;    
}
/* #task::after,#des::after,#Addtask::after{
    outline: none;
} */
input::placeholder{
    color: #4a707a;
}
#Addtask{
    background-color: #4a707a;
    cursor: pointer;
    color: white;
    width: 67em;
    height: 40px;
    margin: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: #ddddda;
    width: 68em;
    margin-top: 10px;
    /* box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5); */

}
.both{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.one, .two{
    display: flex;
    margin:0 0;
    
}
#pan ,#com{
    width: 70em;
}
#pan h2,#com h2{
    background-color: #4a707a;
    color: white;
    font-weight: bold;
    margin: 15px;
    padding: 15px 0;
    text-align: center;
    /* border-radius: 10px; */
}
.fa-sharp{
color: #4a707a;
cursor: pointer;
}
.todo-item{
    background-color:#ddddda; 
    /* border:2px solid black;   */
    margin-bottom:2px; 
    color:black; 
    display:flex; 
    border-radius:7px; 
    justify-content:space-between; 
    padding:10px;
    margin: 15px; 
    
}
.check{
    cursor: pointer;
}
.error{
    color: red;
    margin: 0;
    margin-top: 5px;
   
}
.errorbox{
   display: flex;
   flex-direction: column;
   margin-left: 3%;
   /* width: 72.6em; */

}
